# Ignore bin and obj directories
bin/
obj/

# Ignore NuGet packages
*.nupkg

# Ignore user-specific files
*.user

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
